<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
        <div class="col-3">
            <div class="col-12">
                <h1 class="display-4">Tell Us about You</h1>
                <img class="col-12"src="https://www.pngkey.com/png/detail/67-676007_finger-pointing-at-screen-png-banner-royalty-free.png" alt="">
            </div>
            <hr>
            <div class="col-12">
                <h6 class="display-6 fw-lighter">Do we know you! <br><a href="/">Login Now</a></h6>
            </div>
        </div>
        <form class="col-3" action="/register" method="post" enctype="multipart/form-data">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning d-flex justify-content-center col-12 mt-4" role="alert">
              {{message}}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="mb-3">
                <label for="exampleInputName1" class="form-label">Name</label>
                <input type="text" class="form-control" id="exampleInputName1" aria-describedby="NameHelp" name="name" required>
                <div id="emailHelp" class="form-text">We'll never share your Name with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" required>
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        <div class="col-6 ">
            <img class="p-2 col-12" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/golden-retriever-dog-royalty-free-image-505534037-1560893368.jpg" alt="Let us know who you are" > 
        </div>
    </div>
    </div>
</body>
</html>